<ion-view view-title="Medical Dictionary">
<ion-content>
<div class="list">
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Enter medical term" ng-model="api.word">
        </label>
        <button class="button button-small button-balanced" ng-click="apiInput()">
            <i class="icon ion-ios-search"></i>
            Search
        </button>
    </div>
</div>

<div class="card">
        <div class="item item-text-wrap">
            <b ng-model="api.word">{{ api.word }}</b>
        </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
            
            <div id="search-results" data-ng-repeat="x in api.search_results">
                <b>{{ x.definition }}</b>
            </div>

        </div>
    </div>
</ion-content>
</ion-view>
